<!DOCTYPE html>
<html lang="en">
    <head></head>
<body>

  <section>
    <ul>
        <li><img src="<%= bookInfo.image_url %>"></li>
        <li>Title: <%= bookInfo.title %></li>
        <li>Author: <%= bookInfo.author %></li>
        <li>isbn: <%= bookInfo.isbn %></li>
        <li>Description: <%= bookInfo.description %></li>
  </section>
</body>
</html>