<section class="book-container">
  <p><img src="<%= bookInfo.image_url %>"></p>
  <p>Title: <%= bookInfo.title %></p>
  <p>Author: <%= bookInfo.author %></p>
  <p>Description: <%= bookInfo.description %></p>
  <p>isbn: <%= bookInfo.isbn %></p>
  <button>Select This Book</button>
</section>

<form action="/add" method="post">
  <!-- <input type="hidden" name="_method" value="post"> -->
  <input type="text" name="title" value="<%- bookInfo.title %>" required>
  <input type="text" name="author" value="<%- bookInfo.author %>" required>
  <input type="text" name="image_url" value="<%- bookInfo.image_url %>" required>
  <input type="text" name="isbn" value="<%- bookInfo.isbn %>" placeholder="">
  <textarea name="description" placeholder="" cols='30' rows='10' required><%= bookInfo.description %></textarea>
  <input type="text" name="bookshelf" placeholder="bookshelf name" required>
  <button class="close-btn">Close</button>
  <button type="submit">Add to Database</button>
</form>